<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title th:text="#{product.list}">Page  Title</title>
</head>
<body>
	<section layout:fragment="content">


       <div th:replace="~{fragments/alert :: alert}"></div>






<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th th:text="#{product.mainImage.label}">Logo</th>
                                    <th th:text="#{product.name.label}">Name</th>
                                    <th th:text="#{product.price.label}">Price</th>
                                    <th th:text="#{product.quantity.label}">Quantity</th>
                                    <th th:text="#{product.reorderLevel.label}">Reorder Level</th>
                                    <th th:text="#{label.actions}">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product : ${products}">
                                    <td>
                                        <img th:src="@{'/uploads/' + ${product.mainImage}}" 
                                             class="rounded-circle mr-3" 
                                             alt="Logo" 
                                             width="80" 
                                             height="40" />
                                    </td>
                                    <td th:text="${product.name}"></td>
                                    <td th:text="${product.price}"></td>
                                    <td th:text="${product.quantity}"></td>
                                    <td th:text="${product.reorderLevel}"></td>
                                    <td>
                                        <a th:href="@{/products/show/{id}(id=${product.id})}" 
                                           class="btn btn-sm btn-rounded btn-primary">
                                            <i class="fa fa-eye"></i>
                                            <span th:text="#{label.view}"> View</span>
                                        </a>
                                        <a th:href="@{/products/update/{id}(id=${product.id})}" 
                                           class="btn btn-sm btn-rounded btn-warning">
                                            <i class="fa fa-pencil-square-o"></i>
                                            <span th:text="#{label.update}"> Update</span>
                                        </a>
                                        <a th:href="@{/products/delete/{id}(id=${product.id})}" 
                                           class="btn btn-sm btn-rounded btn-danger" 
                                           th:onclick="'return confirm(' + '\'' + #{alert.confirmDelete} + '\'' + ');'">
                                            <i class="fa fa-trash-o"></i>
                                            <span th:text="#{label.delete}"> Delete</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(products)}">
                                    <td colspan="6" class="text-center" th:text="#{label.list.empty}">
                                        No products found.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















		
	
	</section>
</body>
</html>