<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Add Order</title>
	<!-- Include jQuery CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>	
	<!-- Custom JS -->
	<script type="text/javascript" th:src="@{/shared/js/order.js}"></script>    
</head>
<body>
    <section layout:fragment="content">
        <!-- Add Order Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2>Add Order</h2>

                        <div class="form-validation">
                            <form th:action="@{/orders/add}"
                                  th:object="${order}"
                                  method="post">

                                <!-- Hidden field for Order ID (used for updates) -->
                                <input type="hidden" th:field="*{id}" />

                 

                        <!-- Select Customer From Users -->
                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="userSelect">
                                Select User <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <select class="form-control" id="customer" required>
                                    <option value="" selected>-- Select or Search Customer --</option>
                                    <option th:each="customer : ${customers}" 
                                            th:value="${customer}"  
                                            th:text="${user.email}">
                                    </option>
                                </select>
                            </div>
                        </div>                 

                 
                 
                 



    <!-- Product Selection with Quantity -->
    <div class="form-group row">
        <div class="col-lg-4"></div>
        <div class="col-lg-3">    
            <select class="form-control" id="productSelect" required>
                <option value="" disabled selected>Select a product</option>
                <option th:each="product : ${products}" th:value="${product.id}" th:data-price="${product.price}" th:text="${product.name}"></option>
            </select>
        </div>
        <div class="col-lg-3">
            <input class="form-control" id="quantity" type="number" name="quantity" min="1" placeholder="Quantity" required>        
        </div>
        <div class="col-lg-2">
            <button class="btn btn-success" type="button" id="addProductBtn">Add Product</button> 
        </div>           
    </div>

    <!-- Order List (Products Added to Order) -->
    <div class="form-group row">
        <label class="col-lg-4 col-form-label">Order List</label>
        <div class="col-lg-6">
            <ul id="orderList" class="list-group">
                <!-- Dynamically populated with selected products -->
            </ul>
        </div>
    </div>

    <!-- Hidden fields to store the added products -->
<div th:each="orderItem, iterStat : ${order.orderItems}">
    <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].product.id}" />
    <input type="hidden" th:field="*{orderItems[__${iterStat.index}__].quantity}" />
</div>





                                <!-- Submit Button -->
                                <div class="form-group row">
                                    <div class="col-md-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Submit Order</button>
                                    </div>
                                </div>
                            </form>
                        </div>

 
                    </div>
                </div>    
            </div>        
        </div>        
    </section>
</body>
</html>
