<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frontoffice/main_layout}">
<head>
<title>About Us</title>
</head>
<body>


	<th:block layout:fragment="content">
		<!-- Content go here -->

		<!-- About Section-->
		<header class="bg-dark py-5">
			<div class="container px-4 px-lg-5">
				<div class="text-center text-white">
					<h1 class="display-4 fw-bolder">About Us</h1>
					<p class="lead fw-normal text-white-50 mb-0">Learn more about
						our journey and mission</p>
				</div>
			</div>
		</header>
		<section class="py-5">
			<div class="container px-4 px-lg-5">
				<h2>Our Story</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Vestibulum ac nunc ligula. Quisque at convallis enim. Suspendisse
					potenti.</p>
				<h2>Our Mission</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nulla consectetur fermentum mi, nec varius lorem interdum non.</p>
			</div>
		</section>

	</th:block>


</body>
</html>