<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frontoffice/main_layout}">
<head>
<title>Stock Management System</title>
</head>
<body>


	<th:block layout:fragment="content">
		<!-- Content go here -->

		<!-- Header Section -->
		<header th:replace="~{frontoffice/header :: header}"></header>

		<section class="py-5">
			<div class="container px-4 px-lg-5 mt-5">
				<div
					class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


					<div class="col mb-5" th:each="product : ${products}">
						<div class="card h-100">
							<!-- Product image-->
							<img class="card-img-top"
								th:src="@{'/uploads/' + ${product.mainImage}}" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder" th:text="${product.name}">Fancy
										Product</h5>
									<!-- Product price-->
									<span th:text="${product.price}">20$</span>
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto"
										th:href="@{/product-details/{id}(id=${product.id})}"><i class="bi bi-eye me-1"></i>View
									</a> 
									<button class="add-to-cart btn btn-outline-dark flex-shrink-0 add-to-cart" type="button"
									    th:data-id="${product.id}"
									    th:data-name="${product.name}"
									    th:data-price="${product.price}">
									    <i class="bi-cart-fill me-1"></i> Add to cart
									</button>

								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</section>
	</th:block>


</body>
</html>