<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{frontoffice/main_layout}">
<head>
	<title>Product details</title>
</head>
<body>

	<th:block layout:fragment="content">
		<!-- Content go here -->
		<!-- Product section-->
		<section class="py-5">
			<div class="container px-4 px-lg-5 my-5">
				<div class="row gx-4 gx-lg-5 align-items-center">
					<div class="col-md-6">

							
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">  
  <!-- Slides -->
  <div class="carousel-inner">
    <!-- Main image as the first slide -->
    <div class="carousel-item active">
      <img class="d-block w-100" th:src="@{'/uploads/' + ${product.mainImage}}" alt="Main Image">
    </div>
    <!-- Additional slides for images -->
    <div class="carousel-item" th:each="image : ${product.images}">
      <img class="d-block w-100" th:src="@{'/uploads/' + ${image.url}}" th:alt="${image.url}">
    </div>
  </div>

  <!-- Navigation Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

                    							
							
					</div>
					
					<div class="col-md-6"> 
						<h1 class="display-5 fw-bolder" th:text="${product.name}">Shop item template</h1>
						<div class="fs-5 mb-5">
							$<span th:text="${product.price}"></span> 
						</div>
						<p class="lead" th:text="${product.description}">Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi
							consequatur obcaecati excepturi alias magni, accusamus eius
							blanditiis delectus ipsam minima ea iste laborum vero?</p>
						<div class="d-flex">
						<!-- Add to Cart Button -->
						<button
						    class="btn btn-outline-dark flex-shrink-0 add-to-cart"
						    type="button"
						    th:data-id="${product.id}"
						    th:data-name="${product.name}"
						    th:data-price="${product.price}"
						    aria-label="Add ${product.name} to your cart"
						>
						    <i class="bi-cart-fill me-1"></i> Add to cart
						</button>


						</div>
					</div>
				</div>
			</div>
		</section>
	</th:block>
	
</body>
</html>