<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>


<div th:fragment="updatePasswordForm">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

	<div class="form-validation">
    	<form class="form-valide" 
              th:action="@{'/profile/update-password'}"
              th:object="${updatePasswordForm}"  
              method="post"> 


                                    <!-- Hidden field for ID (used for updates) -->
                                    <input type="hidden" th:field="*{id}" />

   
   
  
								    <!-- Password Field -->
								    <div th:replace="~{fragments/inputField :: input(
								        field='password',
								        type='password',
								        label=${#messages.msg('user.password.label')},
								        placeholder=${#messages.msg('user.password.placeholder')}
								    )}"></div>
								
   
								 
								
                                    <!-- Submit Button -->
                                    <div class="form-group row">
                                        <div class="col-md-8 ml-auto">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                    
		</form>
	</div> 
</div> 
</div>            
</div> 
</div>        
</div> 
</div> 

           
                        
</body>
</html>