<!-- How to use the alert fragment ?
 
    <div th:replace="~{fragments/alert :: alert('success', 'Operation was successful!')}"></div>

    <div th:replace="~{fragments/alert :: alert('danger', 'Something went wrong!')}"></div>

-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>




    <!-- Alert Fragment -->
    <th:block th:fragment="alert" class="row justify-content-center">
        <div th:if="${alert != null}">

				           	<!-- Success Alert -->
					        <div th:if="${alert.type == 'success'}" class="alert alert-success alert-dismissible fade show">
					            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
					            </button>
					            <span th:text="${alert.message}">Operation was successful!</span>
					        </div>
					
					        <!-- Danger Alert -->
					        <div th:if="${alert.type == 'danger'}" class="alert alert-danger alert-dismissible fade show">
					            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
					            </button>
					            <span th:text="${alert.message}">Something went wrong!</span>
					        </div>                   
        
        </div> 
    </th:block>




</body>
</html>
