<!-- 

<div class="form-group row">
    <label class="col-lg-4 col-form-label">Check Boxs 
		<span class="text-danger">*</span>
    </label>	
	<div class="col-lg-6 form-check-inline">
		<div class="form-check form-check-inline">
			<label class="form-check-label"><input type="checkbox" class="form-check-input" value="">Option 1</label>
		</div>
		<div class="form-check form-check-inline">
			<label class="form-check-label"><input type="checkbox" class="form-check-input" value="">Option 2</label>
		</div>
		<div class="form-check form-check-inline">
			<label class="form-check-label"><input type="checkbox" class="form-check-input" value="" disabled="disabled">Disabled</label>
		</div> 
	</div>		
</div>	

-->

<!-- Example Usage of Checkbox Fragment?
 
	<div th:replace="~{fragments/checkboxField :: checkbox(
		field='address', 
		label=${#messages.msg('supplier.companyName.label')},
		options=${genders}
		)}">
	</div>

--> 

<!-- This is the fragment definition --> 
<!-- Checkbox Fragment Definition -->
<th:block th:fragment="checkbox(field, label, options)">
    <div th:with="valid=${!#fields.hasErrors(field)}"
         th:class="'form-group row'">
         
        <!-- Label -->
        <label class="col-lg-4 col-form-label" 
               th:for="${#strings.toLowerCase(field)}">
            <span th:text="${label}">Default Label</span>
            <!-- Display error indicator if there is an error -->
            <span th:if="${!valid}" class="text-danger">*</span>
        </label>      
        
        <!-- Checkbox Container -->
        <div class="col-lg-6">
            <!-- Checkboxes -->
            <div th:each="option : ${options}" class="form-check form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" 
                           class="form-check-input"  
                           th:value="${option}" 
                           th:field="*{__${field}__}" /> 
                    <span th:text="${option}">Option Label</span>
                </label>
            </div>

            <!-- Error Messages -->
            <ul class="invalid-feedback animated fadeInDown" 
                th:if="${!valid}">
                <li th:each="err : ${#fields.errors(field)}" th:text="${err}"></li>
            </ul>                   
        </div>
    </div>
</th:block>




