<!-- 

<div class="form-group row">
    <label class="col-lg-4 col-form-label">Radio Buttons 
		<span class="text-danger">*</span>
    </label>	
	<div class="col-lg-6 form-check-inline">
		<label class="radio-inline mr-3"><input type="radio" name="optradio"> Option 1</label>
		<label class="radio-inline mr-3"><input type="radio" name="optradio"> Option 2</label> 
		<label class="radio-inline mr-3"><input type="radio" name="optradio"> Option 3</label>
	</div>		
</div>	

-->

<!-- 

	<div th:replace="~{fragments/radioField :: radio(
		field='address', 
		label=${#messages.msg('supplier.companyName.label')},
		options=${genders}
		)}">
	</div>
	
 --> 

 <!-- This is the fragment definition -->  
 <th:block th:fragment="radio(field, label, options)">
     <div th:with="valid=${!#fields.hasErrors(field)}"
          th:class="'form-group row'">
         
         <!-- Label -->
         <label class="col-lg-4 col-form-label" 
                th:for="${#strings.toLowerCase(field)}">
             <span th:text="${label}">Default Label</span>
             <span th:if="${!valid}" class="text-danger">*</span>
         </label>
         
         <!-- Radio Buttons -->
         <div class="col-lg-6">
             <span th:each="option : ${options}">
                 <label class="radio-inline mr-3">
                     <input type="radio"  
                            th:value="${option}" 
                            th:field="*{__${field}__}">
                     <span th:text="${option}">Option Label</span>
                 </label>           
             </span>

             <!-- Error Messages -->
             <ul class="invalid-feedback animated fadeInDown" 
                 th:if="${!valid}">
                 <li th:each="err : ${#fields.errors(field)}" th:text="${err}"></li>
             </ul>                   
         </div>
     </div>
 </th:block>







