<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>



<div th:fragment="sidebar" class="nk-sidebar">

	<div class="nk-nav-scroll">
		<ul class="metismenu" id="menu">
		
		<!-- Home -->
			<li class="mega-menu mega-menu-sm">
				<a th:href="@{/}" aria-expanded="false">
					<i class="fa fa-shopping-bag menu-icon" aria-hidden="true"></i><span class="nav-text" th:text="#{app.label.shop}">Shop</span>
				</a>
			</li>		
		
		<!-- Dashboard Section -->
			<li class="nav-label" th:text="#{app.label.dashboard}">Dashboard</li>

			<!-- Dashboard -->
			<li class="mega-menu mega-menu-sm">
				<a th:href="@{/dashboard}" aria-expanded="false">
					<i class="fa fa-tachometer menu-icon" aria-hidden="true"></i><span class="nav-text" th:text="#{app.label.dashboard}">Dashboard</span>
				</a>
			</li>

		<!-- Admin Section -->

			<!-- User Management -->
			<li class="mega-menu mega-menu-sm">
				<a th:href="@{/users}" aria-expanded="false">
					<i class="fa fa-users menu-icon"></i><span class="nav-text" th:text="#{user.title}">User Management</span>
				</a>
			</li>
	
			<!-- Role Management -->
			<li class="mega-menu mega-menu-sm">
				<a th:href="@{/roles}" aria-expanded="false">
					<i class="fa fa-tasks menu-icon"></i><span class="nav-text" th:text="#{role.title}">Role Management</span>
				</a>
			</li>	
			
		<!-- Business logic Section -->
			<!-- Product Management -->
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-cogs menu-icon"></i><span class="nav-text" th:text="#{product.title}">Products</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/products}" th:text="#{product.list}">Product List</a></li>
					<li><a th:href="@{/products/add}" th:text="#{product.create}">Add Product</a></li>
				</ul>
			</li>

			<!-- Supplier Management -->
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-truck menu-icon"></i><span class="nav-text" th:text="#{supplier.title}">Suppliers</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/suppliers}" th:text="#{supplier.list}">Supplier List</a></li>
					<li><a th:href="@{/suppliers/add}" th:text="#{supplier.create}">Add Supplier</a></li>
				</ul>
			</li>

			<!-- Sale Management -->
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-money menu-icon"></i><span class="nav-text" th:text="#{order.title}">Orders</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/orders}" th:text="#{order.list}">Order List</a></li>
					<li><a th:href="@{/orders/add}" th:text="#{order.create}">Add Order</a></li>
				</ul>
			</li>

			<!-- Purchase Management -->
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-cart-arrow-down menu-icon"></i><span class="nav-text" th:text="#{purchase.title}">Purchases</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/purchases}" th:text="#{purchase.list}">Purchase List</a></li>
					<li><a th:href="@{/purchases/add}" th:text="#{purchase.create}">Add Purchase</a></li>
				</ul>
			</li>

			<!-- Customer Management -->
			<li class="mega-menu mega-menu-sm">
				<a class="has-arrow" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-users menu-icon"></i><span class="nav-text" th:text="#{customer.title}">Customers</span>
				</a>
				<ul aria-expanded="false">
					<li><a th:href="@{/customers}" th:text="#{customer.list}">Customer List</a></li>
					<li><a th:href="@{/customers/add}" th:text="#{customer.create}">Add Customer</a></li>
				</ul>
			</li>			
			
			
			
 
			<li class="nav-label" th:text="#{app.label.support}">Support</li>		
	
			<!-- Chat Management -->
			<li class="mega-menu mega-menu-sm">
			    <!-- Dynamic chat title from messages.properties -->
			    <a th:href="@{'/public-chat'}" aria-expanded="false">
			        <i class="fa fa-commenting-o menu-icon" aria-hidden="true"></i>
			        <span class="nav-text" th:text="#{chat.title}">Chat</span>
			    </a>
			</li>
			
			<!-- Messages Management -->
			<li class="mega-menu mega-menu-sm">
			    <!-- Dynamic message title from messages.properties -->
			    <a th:href="@{'/messages'}" aria-expanded="false">
			        <i class="fa fa-envelope-o menu-icon" aria-hidden="true"></i>
			        <span class="nav-text" th:text="#{message.title}">Contact messages</span>
			    </a>
			</li>	
	
				
			<li class="nav-label" th:text="#{app.label.others}">Others</li>		
	
			<!-- Settings Management -->
			<li class="mega-menu mega-menu-sm">
			    <!-- Dynamic settings title from messages.properties -->
			    <a th:href="@{'/settings'}" aria-expanded="false">
			        <i class="fa fa-cogs menu-icon" aria-hidden="true"></i>
			        <span class="nav-text" th:text="#{settings.title}">Settings</span>
			    </a>
			</li>
			
			<!-- Log Out -->
			<li class="mega-menu mega-menu-sm">
			    <!-- Dynamic logout text from messages.properties -->
			    <a href="/logout" aria-expanded="false">
			        <i class="icon-key" aria-hidden="true"></i>
			        <span class="nav-text" th:text="#{user.logout}">Log Out</span>
			    </a>
			</li>	
	
			
			
		</ul>
	</div>

</div>




</body>
</html>