<!-- How to use it
 
    <div th:replace="~{fragments/textareaField :: textarea(
	    field='companyName', 
		label=${#messages.msg('supplier.companyName.label')},
		placeholder=${#messages.msg('supplier.companyName.placeholder')} 
		)}"
	></div>


 --> 

<!-- This is the fragment definition --> 
<th:block  th:fragment="textarea(field, label, placeholder)">
    <div th:with="valid=${!#fields.hasErrors(field)}"
	     class="form-group row">
		 
		<!-- Label -->
		<label class="col-lg-4 col-form-label" 
		       th:for="${#strings.toLowerCase(field)}">
		    <span th:text="${label}">Default Label</span>
			<!-- Display error indicator if there is an error -->
			<span th:if="${!valid}" class="text-danger">*</span>
		</label>		
		<!-- Textarea Container -->
        <div class="col-lg-6">
			<!-- Textarea Field -->
			<textarea class="form-control" 
			          th:id="${#strings.toLowerCase(field)}" 
					  th:field="*{__${field}__}"
					  th:name="${#strings.toLowerCase(field)}"  
					  rows="5" 
					  th:placeholder="${placeholder}">
			</textarea>
 
			<!-- Error Messages -->
			<ul class="invalid-feedback animated fadeInDown" 
				style="display: block;">
				<li th:each="err : ${#fields.errors(field)}" th:text="${err}">
				</li>
			</ul>				   
        </div>
    </div>
</th:block >