<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title th:text="#{purchase.list}">Purchase Management</title>
</head>
<body>



	<section layout:fragment="content">
		<!-- Alerts -->
        <div th:replace="~{fragments/alert :: alert}"></div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="active-member">
                            <h1>Purchase List</h1>
                            <p>
                                <a th:href="@{'/purchases/add'}" class="btn btn-primary btn-sm btn-rounded">
                                    <i class="fa fa-plus"></i> Add New Purchase
                                </a>
                            </p>
                            <div class="table-responsive">
                                <table class="table table-xs mb-0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th th:text="#{purchase.date.label}">Purchase Date</th>
                                            <th th:text="#{purchase.total.label}">Total Amount</th>
                                            <th th:text="#{purchase.supplier.label}">Supplier Name</th>
                                            <th th:text="#{label.actions}">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="purchase : ${purchases}">
                                            <td th:text="${purchase.id}"></td>
                                            <td th:text="${purchase.createdAt}"></td>
                                            <td th:text="${purchase.totalAmount}"></td>
                                            <td th:text="${purchase.supplier.name}"></td>
                                            <td>
                                                <a th:href="@{/purchases/show/{id}(id=${purchase.id})}"
                                                   class="btn btn-sm btn-rounded btn-primary">
                                                    <i class="fa fa-eye"></i>
                                                    <span th:text="#{label.view}"> View</span>
                                                </a>
                                                <a href="#"
                                                   class="btn btn-sm btn-rounded btn-warning">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                    <span th:text="#{label.update}"> Edit</span>
                                                </a>
                                                <a href="#"
                                                   class="btn btn-sm btn-rounded btn-danger"
                                                   th:onclick="'return confirm(' + '\'' + #{alert.confirmDelete} + '\'' + ');'">
                                                    <i class="fa fa-trash-o"></i>
                                                    <span th:text="#{label.delete}"> Delete</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr th:if="${#lists.isEmpty(purchases)}">
                                            <td colspan="5" class="text-center" th:text="#{label.list.empty}">
                                                No purchases found.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>




</body>
</html>